#div-footer ul {
	/* copied from a googled solution. */
	list-style-type: none;
	padding: 0;
}

#div-footer ul li {
	/* copied from a googled solution. */
	display: inline;
}

#footer-right-list {
	/* guessed values. */
	float: right;
	margin-right: 30px;
}

#footer-left-list {
	/* guessed values. */
	float: left;
	margin-left: 30px;
}

#div-footer ul li a {
	/* copied values from google. */
	display: inline-block;
	color: #666;
	
	/* copied values from google. */
	text-decoration: none;
	white-space: nowrap;
	
	/* copied values from google. */
	padding-left: 27px;
	
	/* copied values from google. */
	font-family: arial,sans-serif;
	
	/* copied values from google. */
	line-height: 40px;
	
	/* guessed values */
	outline: none;
	vertical-align: middle;
}

#div-footer ul li a:hover,
#div-footer ul li a:focus {
	/* guessed values */
	text-decoration: underline;
}
