#div-middle {
	width: 100%;
	position: absolute;
	top: 200px;
	width: 100%;
}

.horizontally-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#div-google-logo {
	width: 100%;
}

#div-google-logo img {
	height: 92px;
	width: 272px;
}

#div-search-form {
	width: 100%;
}

#div-search-box {
	/* copied values from google. */
	padding-bottom: 2px;
	padding-top: 2px;
	width: 540px;
	border: 1px solid #d9d9d9;

	/* rough estimates. */
	margin-top: 20px;
	margin-bottom: 20px;

	outline: none;
}

#div-search-box #search-text {
	/* copied values from google. */
	font-family: arial,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	font-variant: normal;

	/* copied values from google. */
	line-height: 26px;
	height: 26px;

	/* copied values from google. */
	border: none;
	outline: none;
	background: transparent;

	/* rough estimates.*/
	margin-left: 5px;
	width: 490px;
	margin-right: 5px;
}

#div-search-box #mic-icon {
	/* copied values from google. */
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: middle;
	cursor: pointer;
	margin-left: 0px;
	margin-right: 5px;
}

#div-search-buttons {
	width: 305px;
}

#div-search-buttons .button {
	/* copied values from google. */
	height: 36px;
	line-height: 27px;

	/* copied values from google. */
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	cursor: default;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
}

#div-search-buttons .button:hover {
	/* copied values from google. */
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #222;
}
