#div-nav-bar {
	/* copied from a googled solution. */
	position: absolute;
	top: 20px;
	width: 100%;
	right: 0;
}

#div-nav-bar ul {
	/* copied from a googled solution. */
	list-style-type: none;
	padding: 0;

	/* guessed values. */
	float: right;
	margin-right: 30px;
}

#div-nav-bar ul li {
	/* copied from a googled solution. */
	display: inline;
}

.google-app-link {
	/* copied values from google. */
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #000;

	/* copied values from google. */
	text-decoration: none;
	
	/* copied from a googled solution. */
	display: inline-block;
	
	/* copied values from google. */
	line-height: 24px;
	outline: none;
	vertical-align: middle;

	/* copied values from google. */
	opacity: .75;
	
	/* guessed values. */
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
}

.google-app-link:hover,
.google-app-link:focus {
	/* copied values from google. */
	opacity: .85;
	text-decoration: underline;
}

#google-apps-options {
	/* copied values from google. */
	display: inline-block;
	opacity: .55;
	cursor: default;
	vertical-align: middle;
	outline: none;

	padding-left: 5px;
	padding-right: 5px;
}

#google-apps-options img {
	height: 22px;
	width: 22px;
}

#google-apps-options:hover,
#google-apps-options:focus {
	/* copied values from google. */
	opacity: .85;
}

#sign-in-link {
	/* copied values from google. */
	color: #fff;

	/* copied values from google. */
	cursor: default;
	text-decoration: none;

	/* copied values from google. */
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;

	/* copied values from google. */
	background: #4285f4;

	/* copied values from google. */
	display: inline-block;
	line-height: 28px;
	padding: 0 12px;
	border-radius: 2px;

	/* copied values from google. */
	font-family: arial,sans-serif;
	font-size: 13px;
}

#sign-in-link:hover,
#sign-in-link:focus {
	/* Simulating CSS3 box shadow.
	 * Limiting this project to CSS1 and CSS2.
	 */
	border-bottom: 1px solid #d3d3d3;
}
